@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


li {
  
    font-size: 1.25rem; /* Equivalent to text-xl */

  

    font-weight: bold; /* Equivalent to font-[bold] */

  

    cursor: pointer; /* Equivalent to cursor-pointer */

  

    margin-left: 0;
    margin-right: 0; /* Equivalent to mx-0 */

  

    margin-top: 0.625rem; /* Equivalent to my-2.5 */
    margin-bottom: 0.625rem; /* Equivalent to my-2.5 */

  

    padding: 1.25rem; /* Equivalent to p-5 */

  color: #e7d7f9;
  list-style: none;
}